<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a href="/">home</a>
<a href="/customers">customers</a>
<a href="/add_customer">add customers</a>
<h1>add customers</h1>

<form action="/create-customer" method="post">
    <input type="text" name="firstname" placeholder="first name"/>
    <input type="text" name="lastname" placeholder=" name"/>
    <input type="text" name="email" placeholder="email"/>
    <input type="text" name="phone" placeholder="phone number"/>
    <button>submit</button>
</form>
</body>
</html>